body {

    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}


table {

    margin: 250px auto;
    border-spacing: 2px;
    border-radius: 8px;
}
thead {
    background-color: aquamarine;
}
th {
    font-size: 18px;
    font-weight: 500;

}

td {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 200;
}

a {
    color: black;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
}

a:hover {
    color: aquamarine;
    transition: linear 1s;
}